{% extends 'base.html.twig' %}

{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
<div style="height:40%;width:40%;margin-left:10%;">
<canvas id="myChart" width="undefined" height="undefined"></canvas>
</div>
<script>
var ctx = document.getElementById("myChart");
var myRadarChart = new Chart(ctx, {
    type: 'horizontalBar',
    data:  {
    labels: [{% for key,value in average  %} '{{ key }}', {% endfor %}],
    datasets: [
    {
    	label: "Données",
    	borderColor: 'green',
        backgroundColor:"rgba(0, 102, 0, 0.2)",
    	fill: true,
        data: [{% for key,value in average %} {{ value }}, {% endfor %}]
    }
    ]
    },


    options:{
    scales:{
     xAxes:[{ 
     ticks:
        {beginAtZero:true, min:0,  max:100 }
        }],
     
      }
     }


});
</script>









{% endblock %}
