{% extends 'base.html.twig' %}

{% block body %}

<ul>
<li> <a href=" {{ path('no_report_sub_fam_bar') }} "> bar rapport  </a>     </li>
<li> <a href=" {{ path('no_report_sub_fam_radar') }} "> radar rapport</a>   </li>

</ul>



{% endblock %}
