{% extends 'base.html.twig' %}

{% block body %}
 <h1> Questions </h1>

 {% for resp in responses %}
 <a href="{{ path('no_company_question_answer',{'questionId': resp.question.id }) }}"> {{ resp.question.question }} </a> 
  {% if resp.isAnswered == true  %} répondu <span class="glyphicon glyphicon-ok"></span> {% else %} à répondre <span class="glyphicon glyphicon-remove"></span> {% endif %}  <br/>

   Réponses:
  {% for answer in resp.answersId %}
   
  	{{ answer.answer }}, &nbsp  
  {% endfor %}
  <br/><br/>
 {% endfor %}

{% endblock %}