{% extends 'base.html.twig' %}

{% block body %}


<h2>  Mettre à jour famille de question </h2>

{{ form_start(form, {'method': 'post', 'action': path('no_update_question',{'id':id}) }) }}
                
            {{ form_rest(form) }}
            <button class="btn btn-default" type="submit" >Enregistrer</button>
{{ form_end(form) }}


{% endblock %}