
{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-diamond w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4> <a href="{{ path('no_create_question_sub_family') }}">  Ajouter une sous-famille  </a> </h4>
      </div>
  </div>
</div>

  <br/><br/>
  
           
  <table class="table table-striped">
    <thead>
      <tr>
        <th> Sous-famille </th>
        <th> Famille </th>
        <th> Modifier </th>
        
      </tr>
    </thead>
    <tbody id="myTable">
    {% for sub in subFamilies %}
      <tr>
        <td> {{ sub.name }} </td>
        <td> {{ sub.family.name }} </td>
        
        <td> <a href="{{ path('no_update_question_sub_family',{'id': sub.id }) }}" class="btn btn-default btn-primary"> Lien </a> </td>
      </tr>
    {% endfor %}
      
    </tbody>
  </table>
</div>



{% endblock %}