{% extends 'base.html.twig' %}

{% block body %}


<h2>  Créer utilisateur {{ company.denomination }} </h2>

{{ form_start(form, {'method': 'post', 'action': path('no_add_company_moderator',{'companyId': company.id}) }) }}
                
            {{ form_rest(form) }}
            <button class="btn btn-default" type="submit" >Enregistrer</button>
{{ form_end(form) }}

{% endblock %}