{% extends 'base.html.twig' %}

{% block body %}


<h2>  Créer statut légal </h2>

{{ form_start(form, {'method': 'post', 'action': path('no_create_legal_status') }) }}
                
            {{ form_rest(form) }}
            <button class="btn btn-default" type="submit" >Enregistrer</button>
{{ form_end(form) }}


{% endblock %}