{% extends 'base.html.twig' %}

{% block body %}


<div class="container">

           
  <table class="table table-striped">
    <thead>
      <tr>
        <th> Nom </th>
        <th> Activer/Désactiver </th>
        
      </tr>
    </thead>
    <tbody id="myTable">
    {% for moderator in moderators %}
      <tr>
        <td> {{ moderator.username }}  </td>
        
        <td> 
        
        {% if not moderator.role("ROLE_COMPANY_OWNER") %}
		 {% if moderator.enabled %}
		  <a href="{{ path('no_disable_company_moderator',{'id':moderator.id}) }}" class="btn btn-danger" >désactiver </a>
		 {% else %}
		  <a href="{{ path('no_enable_company_moderator',{'id':moderator.id}) }}" class="btn btn-success"> activer </a>
		 {% endif %}
		 
		{% endif %}

        </td>
      </tr>
    {% endfor %}
      
    </tbody>
  </table>
</div>

{% endblock %}